<mat-accordion class="mat-elevation-z4 editable">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <app-component-adder class="flex" [parentId]="id + '-header'" [availableComponents]="availableHeaderComponents"></app-component-adder>
    </mat-expansion-panel-header>

    <app-component-adder class="grid" [parentId]="id + '-content'"></app-component-adder>

  </mat-expansion-panel>
</mat-accordion>
