
.mat-card-content {
  padding: 16px;
  flex-grow: 1;
}

.mat-card-footer {
  display: flex;
  justify-content: flex-end;
}

:host {
  display: flex;
}

.mat-card {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
