<mat-card>
  <mat-card-header>
    <app-component-adder [parentId]="id + '-header'" class="flex" [availableComponents]="availableHeaderComponents"></app-component-adder>
  </mat-card-header>
  <mat-card-content>
    <app-component-adder class="grid" [parentId]="id + '-content'" [availableComponents]="availableContentComponents"></app-component-adder>
  </mat-card-content>
</mat-card>
