<mat-toolbar
  class="mat-elevation-z12 editable"
  [color]="config.color.value"
  [style.flex-direction]="reverseSidenavOpener ? 'row-reverse' : 'row'"
  [style.justify-content]="reverseSidenavOpener ? 'space-between' : 'flex-start'">
    <ng-content></ng-content>
    <app-component-adder
      [parentId]="id"
      class="flex"
      [availableComponents]="availableComponents">
    </app-component-adder>
</mat-toolbar>
