<div class="sheet-header">Add view</div>

<div class="grid">
  <div class="flex-out">
    <mat-form-field class="flex-growing-item" [formGroup]="newViewForm">
      <mat-label>URL-Path</mat-label>
      <input matInput formControlName="path">
    </mat-form-field>
    <button mat-mini-fab color="primary" [disabled]="!newViewForm.valid" (click)="addView()">Add</button>
  </div>

  <mat-form-field [formGroup]="navigateForm">
    <mat-label>Navigate to view</mat-label>
    <mat-select formControlName="path">
      <mat-option *ngFor="let view of availableViews" [value]="view">
        {{view}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
