<ng-container *ngIf="user | async; else auth">
  <ng-container *ngIf="(userApps | async) && (userApps | async).length">
    <div class="sheet-header">Manage</div>
    <div class="grid" [formGroup]="manageAppForm">
      <mat-form-field class="grid-span-row">
        <mat-label>Your apps</mat-label>
        <mat-select formControlName="app">
          <mat-option *ngFor="let app of userApps | async" [value]="app">{{app.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button [disabled]="!manageAppForm.valid" color="warn" (click)="deleteUserApp()">Delete</button>
      <button mat-raised-button [disabled]="!manageAppForm.valid" color="primary">Publish</button>
    </div>
    <br>
    <br>
  </ng-container>

  <div class="sheet-header">Create</div>
  <div class="grid" [formGroup]="createAppForm">
    <mat-form-field class="grid-span-row">
      <input formControlName="name" placeholder="Name" matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="setUserApp()">Save new</button>
    <button mat-raised-button color="primary" (click)="resetApp()">Start new</button>
  </div>
</ng-container>

<ng-template #auth>
  <div class="sheet-header">Sign in or register</div>
  <div class="grid" [formGroup]="authenticationForm">
    <mat-form-field>
      <input placeholder="Email" matInput formControlName="email" type="email">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Password" matInput formControlName="password" type="password">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!authenticationForm.valid" (click)="signIn()">Sign in</button>
    <button mat-raised-button color="primary" [disabled]="!authenticationForm.valid" (click)="createUser()">Register</button>
  </div>
</ng-template>
