<mat-sidenav-container class="sidenav-container">

  <mat-sidenav
    #snav
    class="editable mat-elevation-z12"
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="true"
    [position]="config.position.value"
    [fixedInViewport]="mobileQuery.matches"
    [fixedTopGap]="gap ? 72 : 0">


    <app-component-adder
      class="grid"
      [style.padding]="config.padding.value + 'px'"
      [parentId]="id"
      [availableComponents]="availableComponents"
      (componentAdded)="snav.open()">
    </app-component-adder>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
