<ng-container *ngFor="let node of (state | async).children">
  <ng-container [ngSwitch]="node.name">
    <ng-container *ngSwitchCase="'Input'">
      <app-input [config]="node.config" [id]="node.id" [destroy]="destroy"></app-input>
    </ng-container>
    <ng-container *ngSwitchCase="'Select'">
      <app-select [config]="node.config" [id]="node.id" [destroy]="destroy"></app-select>
    </ng-container>
    <ng-container *ngSwitchCase="'Slide toggle'">
      <app-slide-toggle [config]="node.config" [id]="node.id" [destroy]="destroy"></app-slide-toggle>
    </ng-container>
    <ng-container *ngSwitchCase="'Slider'">
      <app-slider [config]="node.config" [id]="node.id" [destroy]="destroy"></app-slider>
    </ng-container>
    <ng-container *ngSwitchCase="'Textarea'">
      <app-textarea [config]="node.config" [id]="node.id" [destroy]="destroy"></app-textarea>
    </ng-container>
    <ng-container *ngSwitchCase="'Button'">
      <app-button [config]="node.config" [id]="node.id" [destroy]="destroy"></app-button>
    </ng-container>
    <ng-container *ngSwitchCase="'Header'">
      <app-header [config]="node.config" [id]="node.id" [destroy]="destroy"></app-header>
    </ng-container>
    <ng-container *ngSwitchCase="'Paragraph'">
      <app-paragraph [config]="node.config" [id]="node.id" [destroy]="destroy"></app-paragraph>
    </ng-container>
    <ng-container *ngSwitchCase="'Youtube'">
      <app-youtube [config]="node.config" [id]="node.id" [destroy]="destroy"></app-youtube>
    </ng-container>
    <ng-container *ngSwitchCase="'Card'">
      <app-card [config]="node.config" [id]="node.id" [destroy]="destroy"></app-card>
    </ng-container>
    <ng-container *ngSwitchCase="'Expansion'">
      <app-expansion [config]="node.config" [id]="node.id" [destroy]="destroy"></app-expansion>
    </ng-container>
    <ng-container *ngSwitchCase="'List'">
      <app-list [config]="node.config" [id]="node.id" [destroy]="destroy"></app-list>
    </ng-container>
    <ng-container *ngSwitchCase="'List item'">
      <app-list-item [config]="node.config" [id]="node.id" [destroy]="destroy"></app-list-item>
    </ng-container>
  </ng-container>
</ng-container>

<ng-container *ngIf="!(disableEdit | async)">
  <ng-container *ngIf="availableComponents.length === 1; else withMenu">
    <div class="component-adder" (click)="addComponent(availableComponents[0]); onClick($event)">
      <mat-icon>{{icon}}</mat-icon>
    </div>
  </ng-container>

  <ng-template #withMenu>
    <div class="component-adder" [matMenuTriggerFor]="menu" (click)="onClick($event)">
      <mat-icon>{{icon}}</mat-icon>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let component of availableComponents" (click)="addComponent(component, true)">
        {{component}}
      </button>
    </mat-menu>
  </ng-template>
</ng-container>
