<div class="app-container">
  <app-toolbar
    [config]="toolbarConfig | async"
    [hidden]="!(showToolbar | async)"
    [reverseSidenavOpener]="reverseSidenavOpener | async">

      <button
        *ngIf="showSidenav | async"
        class="sidenav-toggle-button"
        mat-icon-button
        (click)="sidenav.toggle()">

        <mat-icon>menu</mat-icon>
      </button>
  </app-toolbar>

  <app-sidenav
    [hidden]="!(showSidenav | async)"
    [gap]="showToolbar | async"
    [config]="sidenavConfig | async">

    <router-outlet></router-outlet>
  </app-sidenav>
</div>

<div class="manager-opener-container flex">

  <button mat-icon-button matTooltip="Toggles editable components." class="mat-elevation-z4" [color]="(editableComponents | async) ? 'error' : 'primary'" (click)="toggleComponentEdit()">
    <mat-icon>build</mat-icon>
  </button>

  <button mat-icon-button class="mat-elevation-z4" color="primary" (click)="openViewManager()">
    <mat-icon>add_box</mat-icon>
  </button>

  <button mat-icon-button class="mat-elevation-z4" color="primary" (click)="openSettingsManager()">
    <mat-icon>settings</mat-icon>
  </button>

  <button mat-icon-button class="mat-elevation-z4" color="primary" (click)="openStateManager()">
    <mat-icon>fingerprint</mat-icon>
  </button>

  <button mat-icon-button class="mat-elevation-z4" color="primary" (click)="openFirebaseManager()">
    <mat-icon>android</mat-icon>
  </button>
</div>
