.manager-opener-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 8px;
  display: flex;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav-toggle-button {
  align-self: center;
  margin-right: 16px;
}
