<div class="flex-out sheet-header">
  <div>{{data.name}}</div>
  <mat-icon *ngIf="data.destroy" color="error" (click)="data.destroy(data.id); close();">delete</mat-icon>
</div>

<!-- Config -->
<div class="grid" [formGroup]="configForm">
  <ng-container *ngFor="let config of configurations">
    <ng-container [ngSwitch]=[config.type]>

      <ng-container *ngSwitchCase="'string'">
        <mat-form-field>
          <mat-label>{{config.name}}</mat-label>
          <input matInput [formControlName]="config.key">
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="'number'">
        <mat-form-field>
          <mat-label>{{config.name}}</mat-label>
          <input matInput type="number" [formControlName]="config.key">
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="'option'">
        <mat-form-field>
          <mat-label>{{config.name}}</mat-label>
          <mat-select [formControlName]="config.key">
            <mat-option *ngFor="let value of config.options" [value]="value">{{value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="'action'">
        <mat-form-field>
          <mat-label>Actions</mat-label>
          <mat-select [formControlName]="config.key">
            <mat-option *ngFor="let action of config.options" [value]="action">{{action}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="flex-out">
          <mat-form-field>
            <mat-label>Target</mat-label>
            <mat-select formControlName="actionTarget">
              <mat-option *ngFor="let target of actionTargets" [value]="target">{{target.name}}: {{target.id}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-mini-fab color="primary" (click)="addAction()">Add</button>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-container *ngIf="data.config.action && data.config.action.actions.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let action of data.config.action.actions; let i = index">
      {{action.action}} &rarr; {{action.target.id}}
      <mat-icon color="error" (click)="removeAction(i)">delete</mat-icon>
    </mat-list-item>
  </mat-list>
</ng-container>
