.youtube-player {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

:host {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.5%;
}
