<div class="sheet-header">Settings</div>

<div class="grid" [formGroup]="settings">
  <mat-slide-toggle formControlName="disableEdit">Disable edit</mat-slide-toggle>
  <mat-slide-toggle formControlName="showSidenav">Sidenav</mat-slide-toggle>
  <mat-slide-toggle formControlName="showToolbar">Toolbar</mat-slide-toggle>
</div>
