/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #F3F3F3;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: baseline;
  grid-gap: 16px;
  display: grid;
}

.card-grid {
  grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
  grid-gap: 16px;
  display: grid;
}

.grid-span-1 {
  grid-column: span 1;
}

.grid-span-2 {
  grid-column: span 2;
}

.grid-span-3 {
  grid-column: span 2;
}

.grid-span-4 {
  grid-column: span 2;
}

.grid-span-row {
  grid-column: 1 / -1;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
  align-items: center;
}

.flex > *:not(:last-child) {
  margin-right: 16px;
}

.flex-growing-item {
  flex-grow: 1;
}

.flex-out {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-list-item-content {
  justify-content: space-between;
}

/** Use importan to override materials default padding */
.mat-bottom-sheet-container {
  padding: 16px !important;
}

.sheet-header {
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.54);
}

.editable:hover {
  outline: 1px solid #add8E6;
}
